.cs-142-states-container {
    font-family: monospace;
}

#cs-142-states-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
}

#cs-142-states-filterInput {
    height: 40px;
    width: 50%;
    font-size: 20pt;
}